.all-container {
  height: 100%;

  .title {
    margin: auto;
  }

  .centered-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .content {
    flex-grow: 1;
  }

  .footer {
    position: absolute;
    bottom: 0;
  }
}