<mat-sidenav-container class="all-container">
  <mat-sidenav #sidenav mode="side" opened>
    <!-- Sidenav content goes here -->
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <h1 class="title">Welcome to Tik-Tak-Toe Game</h1>
    </mat-toolbar>

    <div class="content">
      <div class="centered-content">
        <app-board></app-board>
        <router-outlet></router-outlet>
      </div>
    </div>

    <mat-toolbar color="primary" class="footer">
      <!-- Footer content goes here -->
    </mat-toolbar>
  </mat-sidenav-content>
</mat-sidenav-container>